.error-message {
  background-color: black;
  text-align: center;
  color: red;
  padding: 8px;
}

#scanner-container {
  height: 300px;
  position: relative;
}

#scanner-container::ng-deep canvas {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#scanner-container::ng-deep video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.controls {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.shopping-cart {
  padding: 16px;
}

.instructions {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  font-size: 0.6em;
  z-index: 100;
}

.shopping-cart-total {
  margin-top: 16px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: right;
}
