<div class="error-message" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<div id="interactive" class="viewport">
  <!-- QuaggaJS will populate this element -->
</div>

<div class="scanned-code">
  <ng-container *ngIf="scannedCode else noCodeScannedYet">
    EAN-13: {{ scannedCode }}
  </ng-container>
  <ng-template #noCodeScannedYet>
    No code scanned yet
  </ng-template>
</div>

<div class="instructions">
  <p>This app is a demonstration of barcode reading in mobile web apps.</p>

  <p>It is a companion app for the blog post at: TODO</p>
</div>
