.error-message {
  background-color: black;
  text-align: center;
  color: red;
  padding: 8px;
}

.viewport {
  height: 240px;
}

.viewport::ng-deep video {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.shopping-cart {
  padding: 16px;
}

.instructions {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  font-size: 0.6em;
  z-index: 100;
}

.shopping-cart-total {
  margin-top: 16px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: right;
}
